PROJECT_ENDPOINT="https://agents-build2025-resource.services.ai.azure.com/api/projects/agents-build2025"
BING_CONNECTION_NAME="bingagent"
PLAYWRIGHT_CONNECTION_NAME="wsseastus"
MODEL_DEPLOYMENT_NAME="gpt-4.1"


AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT="https://openai-swe1.openai.azure.com/"
AZURE_OPENAI_DEPLOYMENT_NAME="gpt-4.1"
AZURE_OPENAI_API_VERSION="2025-04-01-preview"