PROJECT_ENDPOINT=""
BING_CUSTOM_CONNECTION_NAME=""
PLAYWRIGHT_CONNECTION_NAME=""
MODEL_DEPLOYMENT_NAME=""


AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_DEPLOYMENT_NAME=""
AZURE_OPENAI_API_VERSION=""